<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista de estudiantes</title>
</head>
<body>
	<table>
		<thead>
			<th>Id Estudiante</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Carne</th>
			<th>Carrera</th>
		</thead>
			<th:block th:each="estudiante, row:${estudiantes}">
				<tr>
					<th th:text="${estudiante.cUsuario}"/>
					<th th:text="${estudiante.nombre}"/>
					<th th:text="${estudiante.apellido}"/>
					<th th:text="${estudiante.carne}"/>
					<th th:text="${estudiante.carrera}"/>
				</tr>
			</th:block>
	</table>
	<form th:action= "@{/editar}" th:object="${id}" method= "post">
		<label>Ingrese el codigo del usuario:</label><input type="text" th:field="*{cUsuario}"><br>
		<input type="submit" value="Editar">
	</form>
</body>
</html>